<!DOCTYPE html>
<html lang="en" data-sh-theme-dark="craft" data-sh-theme-light="stack">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("ExtraHeaders", required: false)
    @Html.Partial("~/shared/toppings/_HeadMeta.cshtml")
    <link rel="stylesheet" href='@Context.GetLink("/assets/css/craftastack.bundle.min.css")'>
    <script type="text/javascript" src='@Context.GetLink("/assets/js/craftastack.head.bundle.min.js")'></script>
</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WD7VSX8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    @*<script type="text/javascript" src='@Context.GetLink("/assets/js/craftastack.body.bundle.min.js")'></script>*@
    <header></header>
    <main role="main" class='@(Document.Keys.Contains("CenteredLayout") ? "mt-md-auto" : "")'>
        @RenderBody()
    </main>
    <footer class="position-relative text-center">
        @*<div id="cookieNotice" class="alert alert-white alert-dismissible fade show position-fixed bottom-0 start-0 end-0 mb-0 p-2 z-index-1 d-flex align-items-center justify-content-center d-none" role="alert">
            <p class="small mb-0">@Constants.Site.Url uses cookies to enhance the user experience of the site.</p>
            <button type="button" class="btn btn-sm btn-black ms-2" data-bs-dismiss="alert" aria-label="Close">Accept</button>
        </div>*@
        <div class="container">
            <p class="small">© @DateTime.Today.Year @Constants.Site.Title</p>
        </div>
    </footer>
    <script type="text/javascript" src='@Context.GetLink("/assets/js/craftastack.bundle.min.js")'></script>
    @RenderSection("BottomScripts", required: false)
</body>
</html>